    {% load staticfiles %}
    <!-- header-bot -->
    <div class="header-bot" id="home">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <!-- header-bot -->
            <div class="col-md-4 logo_agile">
                <h1>
                    <a href="/"><img src="{% static 'img/Logo.png' %}" style="width: 200px;"></a>
                </h1>
                <p>Exchange Reuse Sustain</p>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4 header-middle">
                <div class="form-group">
                    <form action="/filter/">
                        <!--  <a href="searchimg.html" class="voice" type="submit" name="submit"><i class="fa fa-camera" aria-hidden="true"></i></a>
                        <a href="searchvoice.html" class="voice" type="submit" name="submit"><i class="fa fa-microphone" aria-hidden="true"></i></a> -->
                        <input type="submit" value="Search here">
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

            <!--&lt;!&ndash; header-bot &ndash;&gt;-->
            <div class="col-md-4 agileits-social top_content">
                <ul class="social-nav model-3d-0 footer-social w3_agile_social">

                    <li>
                        <a href="https://www.facebook.com/Xspare/?modal=admin_todo_tour" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>



            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->