<!DOCTYPE html>
<html>

<head>
    <title> Notifications </title>
    <!--/tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    {% include 'snippets/css.html' %}
</head>

<body>

     <!-- Header included from snipper -->
    {% include 'snippets/header-bot.html' %}
    <!-- //header-bot -->

    <!-- banner -->
    <div class="ban-top">
        <div class="container">
            <div class="top_nav_left">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            					<span class="sr-only">Toggle navigation</span>
			            		<span class="icon-bar"></span>
					            <span class="icon-bar"></span>
            					<span class="icon-bar"></span>
			        	    </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu__list">
                                <li class="menu__item"><a class="menu__link" href="/">Home </a></li>
                                <li class=" menu__item"><a class="menu__link" href="/post/">Post An Item</a></li>
                                <li class=" menu__item"><a class="menu__link" href="/about/">About</a></li>
                                <li class=" menu__item"><a class="menu__link" href="/contact/">Contact</a></li>
                                {% if request.user.is_authenticated %}
                            <li class="menu__item">
                                <a class="menu__link" href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-user" aria-hidden="true"></i> Account <b class="caret"></b></a>
                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li><a href="/profile/">My Profile</a></li>
                                    <li><a href="/posted/">Posted Item</a></li>
                                    <form action="/logout/">

                                        <li>
                                            <button onclick="return confirm('Are you sure you want to logout?')"> log
                                                out <i class="fa fa-sign-out aria-hidden=true "> </i></button>
                                        </li>
                                    </form>

                                    <!--<li><form action="/logout/"><i class="fa fa-sign-out aria-hidden=true "></i>i><input type="submit" value="Go to Google" /></form></li>-->
                                </ul>
                            </li>
                            {% else %}
                            <li class=" menu__item"><a class="menu__link" href="/login/"><i class="fa fa-unlock-alt"
                                                                                            aria-hidden="true"></i> Sign
                                In </a></li>
                            <li class=" manu__item"><a class="menu__link" href="/signup/"><i
                                    class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up </a></li>
                            {% endif %}

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            {% include 'snippets/notificationheader.html' %}
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info">Notifications</h3>
            <div class="form-notification">

                {% for n in notifications %}

                    <a href="/reply/{{n.id}}">
                        <p class="notification"> {{n.buyer_name}} {{n.message}} {{n.part_name}}.</p>
                    </a>

                {% endfor %}

            </div>
        </div>
    </div>

       <!-- Footer snippet -->
    {% include 'snippets/footer.html' %}
<!-- //login -->
{% include 'snippets/js-login-signup.html' %}
</body>

</html>